* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.header {
  background-color: yellow;
  width: 100%;
  height: 5rem;
  box-shadow: 0 1rem 1rem rgba(46, 45, 45, 0.2) ;
}

.header img {
  width: 5rem;
  line-height: 5rem;
}

.main {
  min-height: 500px;
  margin-top: 4rem;
}

.main .container{
  width: 500px;
}

.main .container .create_app{
  padding: 2rem;
  position: relative;
}

input, textarea,
input:focus, 
textarea:focus {
  border: none!important;
  box-shadow: none!important;
}

button {
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.plus_icon {
   width: 3rem;
   height: 3rem;
   line-height: 3rem;
   font-size: 1.6rem;
   position: absolute;
   right: 1.6rem;
   bottom: 1rem;
   color: yellow;
   cursor: pointer;
   text-align: center;
   border-radius: 50%;
   background-color: white;
   transition: all .3s ease-in-out;
}

.plus_icon:hover {
  background-color: yellow;
  color: white;
 
}


/***Notes*/
.notes {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: -6rem 0 9rem 0;
  padding : 3rem 0 3rem 2rem;
} 

.notes .icon {
  position: absolute;
  right: 2rem;
  bottom: 1.6rem;
  cursor: pointer;
  text-align: center;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  transition: all .3s ease-in-out;

}


.notes .icon:hover {
background-color: yellow;
color: white;

}

.notes .icon i{
color: red;

}



footer {
  text-align: center;
}